.content{
    margin: auto;
}

.background1{
    width: 100%;
    float: left;
    height: 150px;
    background: url(latar.jpg);
}
.background1 h1{
    text-align: center;
    margin-left: 590px;
	margin-right: 590px;
	border-bottom: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.frame{
    width: 100%;
    height: 100%;
    overflow: auto;
    float: left;
    background-color: #FFA500;
}
.frame img{
    margin-top: 5px;
	margin-left: 5px;
    height:  420px;
    width:  300px;
}
.frame p{
	text-align: left;
	margin-left: 80px;
	margin-right: 60px;
}
.background2{
    width: 100%;
    height: 150px;
    float: left;
    background: url(Latar.jpg);
}
.background2-text{  
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: black;
	font-size: small;
    margin-top: 120px;
}
