/* digunakan untuk membuat tinggi minimal element memenuhi layar device meskipun tidak ada element di dalamnya.*/
html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;  /* bagian font */
    padding: 0; /* tambahkan padding 0 */
    margin:0 0 50px 0; /* tambahkan margin  */
    /* bagian background image */
    background-image: url(gambar/bg2.jpg); 
    background-size: cover; 
    background-attachment: fixed;
    /* warna font */
    color: #ffffff;
    height: 100%;   /*cetak tinggi  100% */
    position: block; /* digunakan agar element Footer tidak bertumpuk dengan element lain yang ada di dalam body. */
}

header{
    background-color: red; /* background merah */
    width: 100%; /* cetak lebar */   
}

header .logo {
    font-size: xx-large; /* ukuran font */
    padding: 30px 0 30px 10px; /* tambahkan padding */
}

nav {
    width: 100%; /* cetak lebar */
}
nav ul {
    list-style-type: none;
    margin: 0;  /* tambahkan margin 0 */
    padding: 0px 0 0px 1115px; /* tambahkan padding untuk posisi nav di kanan pojok */
    overflow: hidden;
    background-color:black; /* background hitam */
}

nav li {
    float: left; /* posisi kiri */
}

nav li a{
    display: inline-block;
    color:#ffffff; /* warna putih */
    text-align: center; /*posisi text tengah */
    padding: 14px 15px;  /* tambahkan padding */
    text-decoration: none;
}
/* ketika klik menu nav*/
nav li a:hover {
    opacity:0.9;
    background-color: red;  /* background merah */
}

* {
    box-sizing:border-box;  
}

/* Container untuk skill bar */
.container {
  width: 100%; /* lebar maksimum */
  background-color: #ddd; /* Warna background abu */
}

.skills {
  text-align: right; /* Teks rata kanan */
  padding-top: 10px; /* Tambahkan padding atas */
  padding-bottom: 10px; /* Tambahkan padding bawah */
  color: black; /* Warna text hitam */
}

.html {
    width: 90%; background-color: #A52A2A;
}/* Brown */
.css {
    width: 80%; background-color: #6495ED;
}/* Cornflower Blue */
.js {
    width: 65%; background-color: #FFD700;
}/* 	Gold */
.php {
    width: 70%; background-color: #E6E6FA;
}/* Dark Violet */

aside{
    display: block;
    background-color: black;  /* warna hitam */
    height: 100%;  /* cetak tinggi  100% */
    float: right;  /* posisi kanan */
    margin-top: 10px;  /* tambahkan margin atas */
    margin-right: 10px; /* tambahkan margin kanan */
    color: #ffffff;  /* warna putih */
}

.side-content {
    height: 100%;  /* cetak tingi 100% */
 }

.side-content img {
    position: static;
    width: 15rem;  /* ceta lebar */
    padding: 1rem;  /* tambahkan padding */
    border-radius: 50%;  /* untuk membuat foto menjadi lonjong */
}
.side-content p {
    padding: 4px; /* tambahkan padding */
}
.side-content section {
    background-color: red;  /* background merah */
    padding: 15px;  /* tambahkan padding */
    text-align: center;  /* posisi tengah */
}
.side-content .bottom-page {
   padding: 10px;  /* tambahkan padding */
   padding-left: 25px;  /* tambahkan padding kiri */
}

article {
    width: 98.8%;  /* cetak lebar */
    height: auto;  /* cetak tinggi auto */
    border-radius: 3px;  /* tambahkan border radius */
    margin: 5px 5px 5px 5px;  /* tambahkan margin */
    clear: both;  
}

article p {
    padding: 5px 6px 5px 5px;  /* tambahkan padding */
    line-height: 1.5;   /* ukuran tinggi huruf */
}

article .konten {
    width: 80%; /* cetak lebar */
    height: auto; /* cetak tinggi auto */
    margin: 5px 5px 5px 10px; /* tambahkan margin */
    border-radius: 3px;  /* tambahkan border radius */
    float: left;  /* posisi kiri */
}

article .konten img {
    width: 95.8%; /* cetak lebar */
    height: 150px; /* cetak tinggi */
    margin: 5px 5px 5px 5px; /* tambahkan margin */
}
article .konten:hover {
    opacity:0.9;

}

article .konten .judul hr {
    width: 20%; /* cetak lebar */
    float: left; /* posisi kiri */
    margin-top: -15px; /* tambahkan margin atas */
}

article .konten .judul a {
    margin-left: 5px; /* tambahkan margin kiri */
    text-decoration: none;
    font-size:x-large; /* ukura font */
    color:#020101;
}

article .konten .judul img {
    width: auto; /* cetak lebar */
    height: auto; /* cetak lebar */
    border-style: none;
    vertical-align: middle;
}

article .konten .judul .kontak {
    width: 100%;/* cetak lebar */
    height: 200px; /* cetak tinggi */
    overflow: auto;
    float: left; /* posisi kiri */
	margin-top: 30px; /* tambahkan margin atas */
    color: white; /* warna putih */
    overflow: hidden;
}

article .konten .judul .kontak img{
	margin-right: 10px; /* tambahkan margin kanan */
	margin-top: 10px; /* tambahkan margin atas */
    height: 100px;
    width: 100px;
}

article .konten .judul .kontak a:hover {
    /* bagian kontak ketika di klik */
    opacity:0.9;
    padding: 50px 0px;
    background-color: red;
}

article .konten .judul .portofolio {
    margin: 5px 5px 5px 5px; /* tambahkan margin */
}
/* ukuran gambar portofolio */
article .konten .judul .portofolio img {   
    width: 350px; /* cetak lebar */
    height: 250px; /* cetak tinggi */
}
/* bagian portofolio ketika di klik */
article .konten .judul .portofolio a:hover {  
    opacity:0.9;
    background-color: red;  /* background merah */
}
/* warna tulisan */
article .konten .judul .portofolio a { 
    color: #ffffff;
}
/* bagian tabel message*/
article .konten .judul .pesan table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%; /* cetak lebar */
  }
/* bacground dari tabel */
article .konten .judul .pesan td {
    background-image: url(gambar/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/* bacground dari kotak input */
article .konten .judul .pesan input { 
    height: 40px; /* cetak tinggi */
    background-image: url(gambar/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}
/* bacground dari kotak textarea */
article .konten .judul .pesan textarea {
    background-image: url(gambar/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

article .konten .judul .pesan tableth, td {
    text-align: left; /* posisi kiri */
    padding: 16px;  /* tambahkan padding */    
}
/* bacground dari tabel */
  tr:nth-child(even) {
    background-image: url(gambar/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
  }
/* warna garis/border  bagian history */
.tabel {  
    border-color: #ffffff;
}
/* bagian footer */
footer {
    background-color: #020101; /* background hitam */
    color: white; /* warna putih */
    clear: both;
    width: 100%; /* cetak lebar */  
    text-align: center; /* posisi tengah */
    border-radius: 3px;  /* tambahkan border radius */  
    border-bottom: 1px solid gainsboro; /* tambahkan border bawah 1px solid */
    padding-top: 15px; /* tambahkan padding atas */
    padding-bottom: 15px; /* tambahkan padding  bawah */
    height: 50px; /* cetak tinggi */
    position: absolute; /* agar posisi footer dibawah ketika di scroll */
    bottom: 0;
}
/* untuk warna tulisan bagian footer */
footer a{
    color: white; /* warna putih */ 
}

@media screen and (max-width:1080px) {
    .container, article, footer {
        float: none; /* posisi none */
        width: 98%; /* cetak lebar */
   }
   article .konten {
    float: left; /* posisi kiri */
    width: 48%; /* cetak lebar */
   }
   article .konten img {
    height: auto; /* cetak tinggi auto */
   }
}

@media screen and (max-width:780px){
    /* For tablets: */
    .container, article, footer, article .konten {
        float: none; /* posisi none */
        width: 98%; /* cetak lebar */
   }
   article .konten img {
    height: auto; /* cetak tinggi auto */
   }
}
/* bagian My Photos */
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}

/* bagian button dari message */
article .konten .judul .pesan .btn {
    background-color: red;
    color: white;
    padding: 16px 50px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    background-image: none;
}
/* bagian button dari portofolio perulangan */
.btn2{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    background-image: none;
}
/* bagian button dari portofolio form registrasi */
.btn3{
    background-color: rgb(31, 137, 212);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    background-image: none;
}

.btn:hover {
    opacity: 1;
} 
/* untuk warna placeholder */
::placeholder {
    color: #ffffff;
}
/* untuk warna ketika di klik */
a {
   color: #ffffff; 
}