body{
	font-style: italic;
    background-size: auto;
}
#content{
    margin:auto;
    width: 970px;
}
#header{
    width: 100%
    float: left;
	border-top: 10px solid red; 
}

#menu{
    width: 100%;
    height: 90px;
    float: left;
    background-color: black;
	border-bottom: 10px solid red; 
}
#menu ul{
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	margin-right: 50;
	background-color:black;
}
#menu li{
	float: right;
	margin: 0;
}
#menu li a{
	display: block;
	color: red;
	padding: 20 17;
	text-decoration: none;
	text-align: center;
}
#main-content{
    width: 100%;
    min-height: auto;
}
#news{
    width: 100%;
    height: 100%;
    overflow: auto;
    float: left;
    background-color: white;
}
#news h1{
	text-align: center;
	color: red;
}
#news img{
	text-align: center;
    height:  500px;
    width:  950px;
}
#news p{
	text-align: center;
}
#contact{
	width: 100%;
    height: 200px;
    overflow: auto;
    float: left;
    background-color: red;
	margin-top: 30px;
}
#contact p img{
	margin-right: 10px;
	margin-top: 10px;
	height:  30px;
    width:  30px;
}
#contact p{
	text-align: center;
}
#footer{
    width: 100%;
    height: 40px;
    float: left;
    background-color: #333333;
}
#footer-text{
	margin-top: 15;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	font-size: small;
}