.content{
    margin: auto;
    background-color: #FFA500;
}

.background1{
    width: 100%;
    float: left;
    height: 140px;
    background: url(latar.jpg);
}
.background1 h1{
    text-align: center;
    margin-left: 590px;
	margin-right: 590px;
	border-bottom: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.frame{
    width: 20%;
    height: 100%;
    overflow: auto;
    float: left;
    background-color: #FFA500;
}
.frame img{
    height:  565px;
    width:  300px;
}
.side-menu{
    width: 80%;
    height: 100%;
    overflow: auto;
    float: left;
    background-color: #FFA500;
}
.side-menu p{
    margin-top: 21px;
    margin-left: 50px;
}
.main-content{
    width: 100%;
    min-height: auto;
}
.background2{
    width: 100%;
    height: 140px;
    float: left;
    background: url(Latar.jpg);
}
.background2-text{  
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: black;
	font-size: small;
    margin-top: 120px;
}
